

{% load staticfiles %}
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="js/material.min.js"></script>


<style >
  .mdl-card__media {
   margin: 0;
   }
   
  .mdl-card__media > img {
  max-width: 100%;
   }

  .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
.mdl-card-jumbo {
  height: 250px;
  color: #f8f8f8 !impotant;
  background: #eff0f1;
  background-image: url("images/Unknown-4.jpeg");
}



</style>


<body>

<header class="mdl-layout__header ">
         <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Kuku Mtaani</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" href="" ">About</a>
               <a class="mdl-navigation__link " href="" ">Login</a>      
            </nav>
         </div>
      </header>

  

<div class="mdl-card-jumbo mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    <div class="mdl-card__supporting-text" align="center">
        <h2 >Join the Kuku Mtaani Community!</h2><br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ><i class="material-icons align="center"">add</i></button>
    </div>
</div>
<main class="mdl-layout__content" style="padding:0px 50px 0px 50px;">
<div class="mdl-card__supporting-text">

</div>

<div class="mdl-grid">
{% block adds %}
{% for add in object_list %}  
        
<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-shadow--2dp">
  
  <div class="mdl-card__title">
    <h > {{add.title}} {{add.item}} @ {{add.price}}/= </h>
  </div>
  <div class="mdl-card__supporting-text">
    <p><a href=""><i> @ {{add.address}}</i></a></p>
    <p> Posted by <b>{{add.full_name}}</b> on {{add.date}} </p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href=" {{add.id}} ">Read More</a>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
    <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
  </div>
</div>
{% endfor %}
{% endblock %}

</div>
</main>
</body>