
         <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Kuku Mtaani</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" href="{% url 'admin:index' %}">Login</a>
               <a class="mdl-navigation__link" href="{% url 'admin:index' %}">Post Ad</a>      
            </nav> 
         </div>   
